@import './variables.scss';

.auth {
  @include media(desktop) {
  padding-top: 128px;
    .authContainer {
      .authForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        .authCta {
          padding: 10px 30px;
          background-color: #f29801;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s ease-in;
          margin-top: 20px;
        }
        input {
          color: white;
          border-radius: 5px;
          width: 400px;
          padding: 10px;
          border: 1px solid $greyE1;
          margin-bottom: 20px;
        }
        .suggestion {
          margin-top: 10px;
          cursor: pointer;
          color: $orangeE2;
        }
      }
    }
  }
  @include media(mobile) {
    .authContainer {
      padding: 60px 20px;
      .authForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        .authCta {
          padding: 10px 30px;
          background-color: #f29801;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s ease-in;
          margin-top: 20px;
        }
        input {
          color: white;
          border-radius: 5px;
          width: 100%;
          padding: 10px;
          border: 1px solid $greyE1;
          margin-bottom: 20px;
        }
        .suggestion {
          margin-top: 10px;
          cursor: pointer;
          color: $orangeE2;
        }
      }
    }
  }
  
}
